* {
  margin: 0;
}

.App {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-header {
  margin: 0;
  width: 40%;
  padding: 10px;
}

.passwordGeneratorContainer {
  width: 100%;
  padding: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: rgb(252, 252, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.Button {
  padding: 8px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.Button:hover {
  opacity: 0.3;
}
